<h3><b>LIST OF PUBLISHED BLOGS</b></h3>
<table>
  <thead>
  <tr>
    <th>User names</th>
    <th>Title</th>
    <th>Description</th>
    <th>Tag</th>

  </tr>
  </thead>

  <tbody>
  <% @blogs.each do |blog| %>
      <tr>
        <td><b><%= username(blog.user_id) %></b></td>
        <td><b><%=link_to blog.title,blog_path(blog) %></b></td>
        <td><%= blog.description %></td>
        <td><%= blog.tag %></td>
        <td></td>
        <td><%= link_to 'Show', blog %></td>
        <% if current_user && current_user.id == blog.user_id %>
            <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%  end %>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Blog', new_blog_path %>


